# API Endpoints
VITE_JIKAN_API_URL=https://api.jikan.moe/v4
VITE_ANILIST_API_URL=https://graphql.anilist.co
VITE_KITSU_API_URL=https://kitsu.io/api/edge

# App Configuration
VITE_APP_NAME=Animadom
VITE_APP_URL=https://animadom.vercel.app